@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  background-color: #f2f2f2;
  #root {
    font-family: Nunito;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    button {
      cursor: pointer;
    }
  }
}

// responsive
@media all and (max-width: 650px) {
  body {
    #root {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 7vh 1fr;
      gap: 1rem;
      background-color: #f2f2f2;
      .main-img {
        display: none;
      }
      // Login Page
      .login-container {
        display: grid;
        justify-items: center;
        justify-content: center;
        .form-container {
          display: grid;
          justify-content: center;
          margin: 0 1rem;
          width: 355px;
          height: 435px;
          box-shadow: 0px 3px 12px #1e36480a;
          border-radius: 8px;
          padding: 0;
          form {
            display: grid;
            justify-content: center;
            align-items: center;
            input {
              width: 90%;
            }
            button {
              width: 70vw;
              height: 45px;
            }
          }
        }
      }
      // Register Page
      .register-container {
        display: grid;
        justify-items: center;
        justify-content: center;
        .form-container {
          display: grid;
          justify-content: center;
          margin: 0 1rem;
          width: 355px;
          height: 435px;
          box-shadow: 0px 3px 12px #1e36480a;
          border-radius: 8px;
          padding: 0;
          form {
            display: grid;
            justify-content: center;
            align-items: center;
            input {
              width: 90%;
            }
            button {
              width: 70vw;
              height: 45px;
            }
          }
        }
      }

      // Header:
      #header-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0 1rem;
        margin: 0;
        .header-logo {
          margin: 0 !important;
        }
        .header-btn {
          display: grid;
          grid-template-columns: auto auto;
          margin: 0.1rem 0 !important;
          justify-self: end;
          button {
            &:nth-child(1) {
              overflow: hidden;
            }
            &:nth-child(3) {
              display: none;
            }
          }
        }
        .modal-container {
          .modal-content {
          }
        }
      }

      // Home Page:
      #home-container {
        display: grid;
        grid-template-rows: auto auto 1fr;
        margin: 0 0.5rem;
        .poster {
          margin: 0;
          max-width: 100%;
          max-height: 100%;
        }
        .category-container {
          margin: 1rem 0;
          ul {
            margin: 0;
            width: 80vw;
            display: flex;
            overflow: auto;
          }
        }
        .product-container {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
        }
      }

      // Product Detail
      #product-details-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin: 0 1rem;
        img {
        }
        .details {
        }
        .offer {
        }
        .details-btn {
          position: fixed;
          bottom: 1rem;
        }
        .modal-container {
          background-color: rgba(75, 156, 226, 0.6) !important;
        }
      }

      // Account Page:
      #account-container {
        margin: 0 1rem;
        gap: 1rem;
        .user-container {
          margin: 0;
        }
        .offer-container {
          padding: 0;
          margin: 0;
          .offer-tab {
            justify-self: center;
          }
          .offers {
            .offer-item {
              grid-template-rows: auto auto;
            }
          }
        }
      }

      // Add Product Page:
      .add-container {
        margin: 0 !important;
      }
    }
  }
}
