@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  background-color: #f2f2f2;
  #root {
    font-family: Nunito;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    button {
      cursor: pointer;
    }
  }
}

// responsive
@media all and (max-width: 650px) {
  body {
    #root {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      gap: 1rem;
      background-color: #f2f2f2;
      .main-img {
        display: none;
      }
      // Login Page
      .login-container {
        margin-top: 2rem;
        display: grid;
        justify-items: center;
        justify-content: center;
        .form-container {
          display: grid;
          justify-content: center;
          margin: 0 1rem;
          width: 355px;
          height: 435px;
          box-shadow: 0px 3px 12px #1e36480a;
          border-radius: 8px;
          padding: 0;
          form {
            display: grid;
            justify-content: center;
            align-items: center;
            input {
              width: 90%;
            }
            button {
              width: 70vw;
              height: 45px;
            }
          }
        }
      }
      // Register Page
      .register-container {
        margin-top: 2rem;
        display: grid;
        justify-items: center;
        justify-content: center;
        .form-container {
          display: grid;
          justify-content: center;
          margin: 0 1rem;
          width: 355px;
          height: 435px;
          box-shadow: 0px 3px 12px #1e36480a;
          border-radius: 8px;
          padding: 0;
          form {
            display: grid;
            justify-content: center;
            align-items: center;
            input {
              width: 90%;
            }
            button {
              width: 70vw;
              height: 45px;
            }
          }
        }
      }

      // Header:
      #header-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0.5rem 1rem;
        margin: 0;
        .header-logo {
          margin: 0 !important;
        }
        .header-btn {
          display: grid;
          grid-template-columns: auto auto;
          margin: 0.1rem 0 !important;
          justify-self: end;
          button {
            &:nth-child(1) {
              overflow: hidden;
            }
            &:nth-child(3) {
              display: none;
            }
          }
        }
      }
      .modal-container {
        background-color: rgba(75, 156, 226, 0.6) !important;
        .modal-content {
          margin: 0 1rem;
        }
      }

      // Home Page:
      #home-container {
        display: grid;
        grid-template-rows: auto auto 1fr;
        margin: 0 0.5rem;
        .poster {
          margin: 0;
          max-width: 100%;
          max-height: 100%;
        }
        .category-container {
          margin: 1rem 0;
          ul {
            margin: 0;
            width: 80vw;
            display: flex;
            overflow: auto;
          }
        }
        .product-container {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
        }
      }

      // Product Detail
      #product-details-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin: 0 1rem;
        img {
        }
        .details {
          padding: 0;
          .details-btn {
            position: fixed;
            bottom: 0;
            background-color: #fff;
            width: 100%;
          }
        }
      }

      // Account Page:
      #account-container {
        margin: 0 0.5rem;
        gap: 1rem;
        display: grid;
        grid-template-rows: auto auto 1fr;
        .user-container {
          margin: 0;
        }
        .offer-container {
          padding: 0;
          margin: 0;
          .offers-tab {
            ul {
              li {
                margin-right: 1.5rem;
              }
            }
          }
          .offers {
            .offer-item {
              grid-template-columns: 20vw auto;
              border: 1px solid #f2f2f2;
              border-radius: 8px;
              padding: 1rem;
              img {
                border-radius: 8px;
              }
              .product {
                grid-template-columns: auto;
                white-space: nowrap;
                .product-info {
                  p {
                    text-align: left;
                    font: normal normal normal 18px/23px Nunito;
                    letter-spacing: 0px;
                    color: #555555;
                    &:last-child {
                      font: normal normal normal 15px/20px Nunito;
                      letter-spacing: 0px;
                      color: #b1b1b1;
                      background-color: #f2f2f2;
                      width: auto;
                      span {
                        font: normal normal bold 15px/20px Nunito;
                        letter-spacing: 0px;
                        color: #525252;
                      }
                    }
                  }
                }
                .offer-btns {
                  text-align: center;
                }
              }
            }
          }
        }
      }

      // Add Product Page:
      #add-container {
        margin: 0 1rem !important;
        grid-template-columns: 1fr;
        .product-img {
          display: grid;
          button {
            position: relative;
            width: auto;
          }
        }
      }
    }
  }
}
